.btn-twitter {
  background-color: #55acee;
}

.btn-facebook {
  background-color: #3a5795;
}

.btn-instagram {
  background-color: #C25E30;
}

.section2, .section2--section3 {
  margin: 30px;
  padding: 15px;
  border: 5px solid black;
}

.section2--section3 {
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.box-small {
  height: 100px;
  width: 100px;
}

.box-medium {
  height: 200px;
  width: 200px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: beige;
}

.header {
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__marca {
  width: 130px;
  right: 32px;
}

.header__logo {
  height: 100px;
  width: 100px;
}

.nav {
  padding: 1rem;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 20px;
}

.nav-link:hover {
  color: blue;
}

.section_titulo {
  color: black;
  font-weight: bold;
  font-size: 43px;
}

.section__subtitulo {
  color: darkslategrey;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section__subtitulo2 {
  color: #021802;
  font-weight: bold;
  font-size: 40px;
}

.section__imagen {
  text-align: center;
}

.section2, .section2--section3 {
  margin: 30px;
  padding: 15px;
  border: 5px solid black;
}

.section3 {
  margin: 30px;
  padding: 15px;
  border: 5px solid black;
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.section1__enlace {
  text-decoration: none;
  background-color: black;
  color: white;
}

.section1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  padding: 25px;
}

.section1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  padding: 25px;
}

.section1__titulo {
  color: black;
}

.section1__subtitulo {
  color: black;
}

.section1__parrafo {
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.section2__titulo {
  color: darkred;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.section3__titulo {
  color: darkred;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.section4__titulo {
  color: darkred;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.animacion {
  object-fit: cover;
  animation-name: rotate-left;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotate-left {
  -webkit-animation: rotate-left 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-left 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

.animacion1 {
  font-size: 70px;
  object-fit: cover;
  border-radius: 50%;
  animation-name: tracking-in-expand-fwd;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.animacion3 {
  object-fit: cover;
  animation-name: wobble-hor-bottom;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.animacion2 {
  text-align: center;
  font-size: 25px;
  color: red;
  object-fit: cover;
  animation-name: vibrate-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.grid {
  border: 2px solid #555;
  padding: 1rem;
  min-height: 500px;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-columns: repeat(3, 100px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px 100px;
  grid-template-rows: 25% 25% 100px;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "ele1 ele2 ele2" "ele3 ele3 ele4" "ele5 ele6 ele4";
  justify-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  align-content: flex-start;
  column-gap: 10px;
  row-gap: 20px;
  gap: 10px 20px;
  gap: 20px;
}

.grid__hijo {
  border: 2px solid orange;
  padding: 1rem;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid__hijo img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.grid__hijo--1 {
  grid-area: ele1;
}

.grid__hijo--2 {
  grid-area: ele2;
}

.grid__hijo--3 {
  grid-area: ele3;
}

.grid__hijo--4 {
  grid-area: ele4;
}

.grid__hijo--5 {
  grid-area: ele5;
}

.grid__hijo--6 {
  grid-area: ele6;
}

.border {
  border: 5px solid green;
}

.rounder {
  border-radius: 30px;
}

.centrar {
  text-align: center;
}

.texto-justificado {
  text-align: justify;
}

.parent {
  text-align: center;
}

.container {
  text-align: center;
}

.whatsApp {
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
}

.imagen-caja {
  margin-left: 150px;
  margin-right: 150px;
}

main section p {
  color: black;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin: 30px;
  padding: 30px;
}

.alinear-centro {
  text-align: center;
}

main div h2 {
  color: brown;
  font-size: 25px;
}

main div p {
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin: 15px;
  padding: 20px;
}

.rounded1 {
  border-radius: 30px;
}

.border1 {
  border: 5px solid grey;
}

.izquierda {
  text-align: left;
}

.derecha {
  text-align: right;
}

.alinear-centro {
  text-align: center;
}

.titulo {
  text-decoration-line: underline;
  font-size: 20px;
  color: blue;
  text-align: center;
}

.margenes {
  color: #000;
  background-color: rgba(168, 162, 162, 0.945);
  border: #3a0a0a solid;
  word-spacing: 10px;
  letter-spacing: normal;
  line-height: 60px;
  margin-top: 50px;
  margin-right: 500px;
  margin-bottom: 20px;
  margin-left: 500px;
  font-size: 30px;
}

body p {
  text-decoration-line: underline;
  font-size: 25px;
}

body h3 {
  font-size: 25px;
  color: red;
}

.nombrecompleto {
  padding: 10px;
}

.edad {
  padding: 10px;
}

.provincia {
  padding: 10px;
}

.ciudad {
  padding: 10px;
}

.email {
  padding: 10px;
}

.numero {
  padding: 10px;
}

.asunto {
  padding: 10px;
}

.mensaje {
  padding: 10px;
}

.boton {
  text-align: center;
}

.mapa {
  margin: 50px;
  padding: 50px;
}

input:focus {
  color: black;
  background-color: cornflowerblue;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#iconos {
  font-size: 30px;
  padding: 0 8px;
  color: #f3f3f3;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
  input:focus {
    color: red;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .header {
    width: auto;
    background-color: plum;
  }
  .nav__lista {
    list-style: none;
    flex-direction: column;
    display: flex;
  }
  /* inicio */
  .section_titulo {
    font-size: 15px;
  }
  .section__subtitulo {
    font-size: 10px;
  }
  .section__subtitulo2 {
    font-size: 15px;
  }
  /* sobre el estudio */
  .section1 {
    color: indigo;
  }
  .section1__titulo {
    font-size: 15px;
  }
  .section1__subtitulo {
    font-size: 20px;
    color: darkblue;
  }
  .section1__parrafo {
    font-size: 10px;
    text-align: justify;
    padding: 2px;
    border: 10px;
  }
  .section2__titulo {
    font-size: 20px;
  }
  .section2__parrafo {
    font-size: 10px;
    text-align: justify;
    padding: 2px;
    border: 10px;
  }
  .section3__titulo {
    font-size: 20px;
  }
  .section3__parrafo {
    font-size: 10px;
    text-align: justify;
    padding: 2px;
    padding: 2px;
  }
  .section4__titulo {
    font-size: 20px;
  }
  .section4__parrafo {
    font-size: 10px;
    text-align: justify;
    padding: 2px;
    padding: 2px;
  }
  /* servicios */
  main div h2 {
    color: green;
    font-size: 15px;
  }
  main div p {
    font-size: 10px;
    margin: 15px;
    padding: 10px;
    text-align: justify;
  }
  .centrar {
    font-size: 10px;
  }
  .animacion1 {
    font-size: 20px;
    color: red;
  }
  /* clientes */
  .titulo {
    color: purple;
    text-align: center;
    font-size: 10px;
  }
  .grid {
    display: grid;
    border: 1px solid #555;
    padding: 10px;
    min-height: 100px;
    max-width: 300px;
    margin: auto;
    grid-template-columns: 15% 20% 15%;
    grid-template-columns: repeat(3, 50px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 100px;
    grid-template-rows: 25% 25% 100px;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-rows: 150px 200px 150px;
    grid-template-areas: "ele1 ele2 ele2" "ele3 ele3 ele4" "ele5 ele6 ele4";
    justify-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 10px;
    row-gap: 15px;
    gap: 5px 15px;
    gap: 10px;
  }
  /* contacto */
  body h1 {
    color: #330606;
    font-size: 20px;
    text-align: center;
  }
  body h2 {
    color: #000;
    font-size: 17px;
    text-align: center;
  }
  .animacion2 {
    color: purple;
    font-size: 20px;
    text-align: center;
  }
  body p {
    font-size: 25px;
    text-align: center;
    padding: 5px;
  }
  .nombrecompleto {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .edad {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .provincia {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  .ciudad {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .email {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .numero {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .asunto {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .mensaje {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  .caja-mensaje {
    padding: 20px;
    margin-top: auto;
  }
  .boton {
    text-align: center;
  }
  .mapa {
    display: none;
    margin: 30px;
    padding: 10px;
  }
  .margenes {
    border: none;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
  }
}
/*# sourceMappingURL=estilos.css.map */