.grid{
    border: 2px solid #555;
    padding: 1rem;
    min-height: 500px;
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-columns: repeat(3,100px);

    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);


    grid-template-rows: 100px 200px 100px;
    grid-template-rows: 25% 25% 100px;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-rows: 200px 200px 200px;

    grid-template-areas: "ele1 ele2 ele2" "ele3 ele3 ele4" "ele5 ele6 ele4";

    justify-items: stretch;
    align-content: stretch;

    justify-content: flex-start;
    align-content: flex-start;

    column-gap: 10px;
    row-gap: 20px;
    gap:  10px 20px;
    gap: 20px;

}
.grid__hijo{
    border: 2px solid orange;
    padding: 1rem;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.grid__hijo img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}
.grid__hijo--1{
    grid-area: ele1;
}

.grid__hijo--2{
    grid-area: ele2;
}

.grid__hijo--3{
    grid-area: ele3;
}

.grid__hijo--4{
    grid-area: ele4;
}

.grid__hijo--5{
    grid-area: ele5;
}

.grid__hijo--6{
    grid-area: ele6;
}
